.header-hidden,
.top-socials {
  @include pxRem(margin-bottom, 0);
  @extend %d-flex-between;
}
.header-top {
  @include pxRem(padding, 8 0);
  background-color: #1b263a;
}
.header-icon {
  @include pxRem(padding-right, 10);
  font-size: 13px;
  color: white;
  &:hover {
    color: #1abc9c;
  }
  > i {
    @include pxRem(margin-right, 8);
    font-size: 13px;
  }
}
.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.nav-item > a {
  @include pxRem(padding, 20 15);
  color: #3e3e3e;
  font-size: 12px;
  i {
    @include pxRem(font-size, 12);
    &:hover {
      color: #1abc9c;
    }
  }
  &:hover {
    color: #3e3e3e;
    text-decoration: none;
  }
}
.img-logo {
  height: 32px;
}
.img-logo-light {
  height: 18px;
}