.navbar-toggler {
  &:focus {
    outline: none;
  }
}

.navbar {
  @include pxRem(padding, 16 0 !important);
  .navbar-collapse {
    justify-content: flex-end;
    transition: all 1000ms ease !important;
    .dropdown {
      &:hover .dropdown-menu {
        @include pxRem(margin-top, 19);
        display: block;
      }
    }
  }
}
